body{
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    background-color: yellow;
    flex-wrap: wrap;
    width: 100%;
}
.menu{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    height: 200vh;
    align-items: center;
}
.menu a{
    margin: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 70%;
    background-color: lightblue;
    font-size: 20px;
    color: black;
    padding: 5px;
    font-family: Impact;
}
.menuheading{
    margin: 10px 0;
    font-size: 30px;
    color: lightcyan;
    font-weight: bold;
    font-family: Verdana;
}
.heading{
    background-color: aqua;
    width: 100%;
    text-align: center;
    font-size:50px;
    font-family: sans-serif;
    padding: 5px;
    font-weight: bold;
}
.php{
    width: 75%;
    display: block;
    padding: 20px;
}